/*begin header*/
.logo{
	border-right: 0;
	padding-right: 0;
	width: 73px;
}
.listCate{
	margin-left: 5px;
	width: 775px;
	padding-top: 8px;
}
.listCate .current{
	font-size: 23px;
	font-weight: bold;
	text-transform: uppercase;
	color: #CC0300;
	margin-left: 0;
	display: inline-block;
	width: 175px;
}
.listCate .inner{
	border-bottom: 1px solid #ddd;
	display: inline-block;
	float: right;
	padding-top: 21px;
	padding-bottom: 5px;
	width: 76%;
}
.listCate a{
	font-size: 15px;
	color: #000;
	margin: 0 5px;
}
.listCate a:hover{
	color: #CC0300;
}
.listCate .inner a:first-child{
	margin-left: 0;
}
.listCate .date{
	font-size: 12px;
    color: #000;
    float: right;
    padding-top: 3px;
}
.logoGT{
	text-align: right;
    padding-top: 20px;
    width: 140px;
}
.menu-top>li>a{
	padding: 10px 5px;
}
.menu-top>li:first-child a{
	padding-left: 0;
}
#formSearAlbum{
	width: 95%;
	display: none;
}
#formSearAlbum .form-control{
	width: 100%;
	height: 39px;
}
/*end header*/

.main{
	padding-top: 25px;
	padding-bottom: 50px;
}

/*begin van hoa giai tri*/
.boxVhgt .img{
	float: left;
	width: 722px;
	margin-right: 15px;
}
.icoLike{
	vertical-align: top;
}
.socials .btnYoutube{
	opacity: 1;
	vertical-align: 2px;
}
.boxVhgt .inner{
	width: 267px;
	float: left;
}
.boxVhgt .tit a{
	color: #A0A0A0;
}
.boxVhgt .tit .current{
	font-size: 17px;
	color: #CC0300;
	margin-right: 10px;
}
.boxVhgt .name{
	font-size: 29px;
	font-weight: bold;
}
.boxVhgt .date{
	font-size: 17px;
	color: #A0A0A0;
	font-family: Calibri, Tahoma, Helvetica, Arial, sans-serif;
}
.boxVhgt .desc{
	font-size: 17px;
}
.boxVhgt .rel a{
	font-size: 11px;
	padding-left: 10px;
	position: relative;
	display: block;
}
.boxVhgt .rel a:before{
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 0;
	background-color: #CC0300;
}
.boxVhgt .note{
	font-size: 17px;
	font-style: italic;
	border-top: 1px solid #eee;
	font-family: Calibri Light, Helvetica, Arial, sans-serif;
	margin-top: 30px;
	padding-top: 5px;
	cursor: pointer;
}
/*end van hoa giai tri*/

/*begin comment*/
.formCmtVideo{
	display: none;
}
.cmtVideo .tit{
	font-size: 17px;
	font-style: italic;
	color: #9B9B9B;
	height: 34px;
	border: 1px solid #ddd;
	font-family: Calibri Light, Helvetica, Arial, sans-serif;
	background: url(../images/icoChat.png) no-repeat 5px;
	padding-left: 40px;
	padding-top: 5px;
}
.cmtVideo .form-control{
	width: 100%;
	border-color: #ddd;
}
.cmtVideo .form-content{
	height: 130px;
	border-bottom: 0;
	border-color: #ddd;
}
.cmtVideo .form-control::placeholder, .cmtVideo .form-content::placeholder{
	font-size: 15px;
	font-family: Calibri Light, Helvetica, Arial, sans-serif;
	color: #505050;
}
.cmtVideo .inner{
	background-color: #F0F0F0;
	padding: 10px;
	border: 1px solid #ddd;
	border-top: 0;
}
.cmtVideo .inner .item{
	float: left;
}
.cmtVideo .captcha{
	display: inline-block;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 15px;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	width: 115px;
	height: 28px;
	text-align: center;
}
.cmtVideo .formCaptcha{
	width: 110px;
	height: 28px;
	margin-left: 10px;
	margin-top: -1px;
}
.cmtVideo .formCaptcha .form-control{
	border: 0;
	border-radius: 4px;
	height: 29px;
}
.cmtVideo .btnGui{
	font-size: 15px;
	font-weight: bold;
	color: #CC0300;
	display: inline-block;
	background-color: #fff;
	border-radius: 4px;
	border: 0;
	padding: 5px 10px;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	outline: none;
	cursor: pointer;
	width: 115px;
	height: 28px;
}
.cmtVideo .btnGui:hover{
	background-color: #CC0300;
	color: #fff;
}
.cmtVideo .btnHuy{
	font-size: 15px;
	display: inline-block;
	background-color: #fff;
	border-radius: 4px;
	border: 0;
	padding: 5px 10px;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	margin-left: 10px;
	outline: none;
	cursor: pointer;
	width: 110px;
	height: 28px;
}
.cmtVideo .btnHuy:hover{
	color: #CC0300;
}
.ykbd .tit{
	font-weight: bold;
	font-size: 15px;
	background: url(../images/icon-cmtit.png) no-repeat left;
	background-size: 20px;
	padding-left: 25px;
	margin-bottom: 10px;
}
.ykbd .avt{
	width: 35px;
	height: 35px;
	float: left;
}
.ykbd .innerSm{
	padding-left: 45px;
}
.ykbd .userName{
	color: #3b5998;
	font-weight: bold;
	margin-right: 10px;
}
.ykbd .date{
	color: #ccc;
	font-size: 12px;
	margin-right: 10px;
}
.ykbd .rep{
	color: #999;
	background: url(../images/if_back.png) no-repeat left;
	background-size: 15px;
	padding-left: 20px;
}
.ykbd .plus{
	display: inline-block;
	background: #9C0707;
	font-size: 11px;
	color: #fff;
	line-height: 9px;
	height: 11px;
	width: 11px;
	text-align: center;
}
.more2{
	display: inline-block;
	background-color: #A0A0A0;
	color: #fff;
	padding: 5px 10px;
	margin-top: 20px;
}
#scrollbar{
	height: 445px;
	overflow: hidden;
	overflow-y: auto;
	padding-right: 5px;
}
#scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb
{
	background-color: #CC0300;
}
/*end comment*/

/*begin anh noi bat*/
.boxAnb .tit, .typeAlbum1 .tit{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #CC0300;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.boxAnb article, .typeAlbum1 .list2 article{
	width: 239px;
	margin-right: 16px;
	float: left;
}
.boxAnb article:last-child, .typeAlbum1 .list2 article:last-child{
	margin-right: 0;
}
.cateParent{
	color: #A0A0A0;
	margin: 5px 0;
	font-family: Calibri Light, Tahoma, Helvetica, Arial, sans-serif;
}
.boxAnb .name, .typeAlbum1 .list2 .name{
	font-size: 16px;
	display: block;
}
/*end anh noi bat*/

/*begin typeAlbum1*/
.typeAlbum1 .list1 article{
	width: 304px;
	float: left;
	margin-right: 46px;
}
.typeAlbum1 .list1 article:last-child{
	margin-right: 0;
}
.typeAlbum1 .list1 .name{
	font-size: 15px;
	font-weight: bold;
	display: block;
}
/*end typeAlbum1*/

.line50{
	border-bottom: 1px solid #eee;
	margin: 50px 0;
}

/*begin dac sac*/
.dacSac{
	background-color: #F0F0F0;
	border-top: 2px solid #CC0300;
	padding-top: 40px;
	padding-bottom: 25px;
}
.dacSac .list1{
	padding: 0 23px;
}
.dacSac .list1 article{
	width: 288px;
}
/*end dac sac*/

/*begin rowAlbum col left*/
.rowAlbum .colLeft{
	width: 689px;
	border-right: 1px solid #eee;
	padding-right: 15px;
	margin-right: 15px;
	float: left;
}
.rowAlbum .colRight{
	width: 300px;
	float: left;
}
.type2 .title .col2{
	width: 453px;
}
.type2 .listBottom article{
	width: 219px;
	margin: 0 4px;
}
.boxDbl article, .type2 .listTop article{
	width: 314px;
}
/*end rowAlbum col left*/

/*begin xem nhieu*/
.boxXn .tit{
	display: block;
	font-size: 15px;
	padding: 3px 10px;
	color: #CC0300;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #F0F0F0;
	margin-bottom: 12px;
}
.boxXn article{
	margin-bottom: 11px;
	border-bottom: 1px solid #eee;
	padding-bottom: 11px;
}
.boxXn article:last-child{
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.boxXn .cateParent{
	margin: 5px 0 3px 0;
}
.boxXn .name{
	font-size: 15px;
	font-weight: bold;
}
.more{
	font-size: 13px;
	color: #000000;
	font-family: Tahoma, Helvetica, Arial, sans-serif;
	background-color: #F0F0F0;
	height: 34px;
	display: inline-block;
	vertical-align: bottom;
	padding: 0 10px;
	line-height: 35px;
	border: 1px solid #ddd;
	word-spacing: 0;
}
/*end xem nhieu*/

/*begin media*/
@media screen and (min-width: 768px) and (max-width: 1023px){
	.listCate{
		width: 730px;
		padding-top: 10px;
	}
	.listCate .inner{
		width: 81%;
		padding-top: 15px;
	}
	.listCate .current{
		font-size: 18px;
		width: 130px;
	}
	.logoGT{
		padding-top: 15px;
	}
	#formSearAlbum .form-control{
		height: 38px;
	}
	.boxVhgt .img{
		width: 678px;
	}
	.boxVhgt .inner{
		padding-bottom: 30px;
	}
	.boxAnb article, .typeAlbum1 .list2 article{
		width: 228px;
	}
	.typeAlbum1 .list1 article{
		width: 289px;
	}
	.dacSac .list1 article{
		width: 274px;
	}
	.rowAlbum .colLeft{
		width: 645px;
	}
	.boxDbl article{
		width: 292px;
	}
	.type2 .title .col2{
		width: 408px;
	}
	.type2 .listTop article{
		width: 292px;
	}
	.type2 .listBottom article{
		width: 205px;
	}
}
/*end media

/*start longqv*/
.listCate{
    padding-bottom: 0px;
    padding-left: 0px;
}
.listCate a{
    padding-left: 9px;
    padding-right: 0px;
}
/*end longqv*/


/*start longqv common comment */
.box_cmt_media .ul_input li{
    width: 100%;
    margin: 0px 0px 6px 0px;
    padding: 0px !important;
}
.box_cmt_media .i_capcha,
.box_cmt_media .cmt_cancel,
.box_cmt_media .img_capcha,
.box_cmt_media .cmt_submit{
    width: 124px;
    box-sizing: border-box;
}
.box_cmt_media .i_capcha_child{
    width: 98px;
    box-sizing: border-box;
}
.box_cmt_media .img_capcha_child{
    width: 104px !important;
    margin-left: 10px;
}
.box_cmt_media .div_click_box_cmt,.box_cmt_media .bx-comment{
    padding-top: 0px;
    margin-top: 0px;
}
.box_cmt_media .cmt_cancel_child{
    width: 103px;
    text-align: center !important;
}
.box_cmt_media .cmt_cancel{
    margin-right: 0px;
    text-align: center !important;
}
.box_cmt_media .img_capcha{  
    height: 34px !important;
}
.box_cmt_media .cmtVideo {
    margin-top: 20px;
}
.box_cmt_media .cmt_submit{
    height: 32px;
}
.box_cmt_media .inner{
    padding-left: 45px;
    background: none;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
}
.box_cmt_media .ykbd .avt{
    position: absolute;
}
.box_cmt_media .item_cmt{
    position: relative;
}
.box_cmt_root{
    float: left;
    width: 100%;
}
.bx-video-body iframe{
    height: 400px;
}
.cateParent{
    margin: 5px 0 3px 0;
}
/*end longqv common comment */

/* Vudl fix css ten_chuyen_muc 30/11/2018 */
.cateParent a{
    color: #A0A0A0;
    margin: 5px 0;
    font-family: Calibri Light, Tahoma, Helvetica, Arial, sans-serif;
}
/* End Vudl fix css ten_chuyen_muc 30/11/2018 */

/* vudl fix css 14/12/2018 */
.btnGui{
    opacity: 1!important;
}
.inner_video{
    background: #F0F0F0;
    height: 100px;
    padding: 7px; 
}
.box_cmt_media .i_capcha, .box_cmt_media .cmt_cancel, .box_cmt_media .img_capcha, .box_cmt_media .cmt_submit {
    width: 117px;
    box-sizing: border-box;
}
textarea{
    height: 130px;
}
.btn.bt-cancel-com.cmt_cancel, .form-control.input_cmt.i_capcha{
    border:none;
}
.box_cmt_media .i_capcha{
    border-top:none;
}
.cmtVideo .form-control{
    border-radius: 4px;
}
.cursor_df{
    cursor: default;
}
/* End vudl fix css 14/12/2018 */
/* Vudl fix css 14/12/2018 */
#scrollbar::-webkit-scrollbar-thumb
{
    background-color: #b5b5b5;
}
.i_capcha{
    float: right;
    margin-left: 0;
}

/* End Vudl fix css 14/12/2018 */
/* Vudl fix css 25/12/2018 */
.sub-menu{
    top:39px;
}
/* End Vudl fix css 25/12/2018 */

/*Begin 16/1/2020: dangtq*/
.headerBg .container{
	background-image: none!important;
}
/*Begin 16/1/2020: dangtq*/