@charset "utf-8";
.jcarousel,
.nsLstTit,
.ul_jcarousel {
    overflow: hidden
}

.tit-pkg,
.txtTrf {
    text-transform: uppercase
}

* {
    font-family: Nunito, sans-serif
}

body {
    margin: 0;
    background-color: #fff
}

a {
    text-decoration: none;
    color: #000
}

.head_news a:hover,
.tpMnRt ul li a:hover,
a.sb-tpic:hover {
    text-decoration: underline
}

a:hover {
    color: #ed1c24
}

p {
    line-height: 1.4
}

.clF {
    clear: both
}

.img-pick-top img {
    width: 30px
}

.contnr {
    margin: 0 auto;
    width: 1004px;
    background: #fff
}

.mrB20 {
    margin-bottom: 20px
}

.mrT20 {
    margin-top: 20px
}

.mrT10 {
    margin-top: 10px
}

.mrT5 {
    margin-top: 5px
}

.mrB5 {
    margin-bottom: 5px
}

.mrL10 {
    margin-left: 1%
}

.mrR10 {
    margin-right: 1%
}

.mar_bottom10,
.mrB10 {
    margin-bottom: 10px
}

.pdB20,
.pdT20 {
    padding-top: 20px
}

.pdB10 {
    padding-bottom: 10px
}

.pdT10 {
    padding-top: 10px
}

.pdT5 {
    padding-top: 5px
}

.pdB5 {
    padding-bottom: 5px
}

.clrWh {
    color: #fff
}

.clrGr {
    color: #757575
}

.clrGrn {
    color: #00722e
}

.clrBlu {
    color: #00f
}

.clrTit {
    color: #333
}

.txtIl {
    font-style: italic
}

.txtCt p>* {
    font-size: 13px
}

.hdr {
    width: 100%;
    z-index: 99999;
    height: 50px;
    background: #8c644b;
    margin: 0 auto 5px;
    box-shadow: 0 0 3px 0 #666
}

.mnTp {
    width: 118px;
    float: left;
    border-left: #90c95a solid 1px;
    border-right: #90c95a solid 1px;
    height: 33px;
    padding: 7px 0 0 10px
}

.atrHdr,
.content-hd,
.show {
    height: 40px
}

li,
ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.txtCent {
    text-align: center
}

.txtRt {
    text-align: right
}

.arPagUp {
    display: block;
    z-index: 9999999;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: .6;
    transition: background .3s, color .3s;
    -webkit-transition: background .3s, color .3s;
    -moz-transition: background .3s, color .3s
}

.show,
.tpMnRt ul>li {
    display: inline-block
}

.hmClk a,
.hsFedBck button {
    position: absolute;
    top: 7px
}

.show {
    opacity: 1;
    background: url(//test.baogiaothong.vn/images/arrowPageUp.png) no-repeat;
    width: 40px;
    background-size: 40px
}

.arPagUp:hover {
    opacity: .7
}

.bld {
    font-weight: 700
}

.mrB15 {
    margin-bottom: 15px
}

.fnormal {
    font-weight: 400
}

.clrRed {
    color: #ed1d24
}

table.figCtn h2,
table.figCtn h2 strong {
    font-weight: 300;
    font-size: 17px;
    color: #5a5a5a;
    font-style: italic;
    text-align: left
}

.mrT50 {
    margin-top: 50px
}

.content-hd.brc-head {
    height: 40px;
    line-height: 40px;
    border-bottom: 2px dotted #ccc;
    background: inherit;
    margin-bottom: 5px
}

.content-hd {
    background: 0 0;
    border-bottom: 1px solid #8c644b!important;
    line-height: 40px
}

.hsFedBck button {
    right: 0;
    height: 33px;
    width: 33px;
    line-height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: 0 0
}

table.figCtn h2 {
    margin: -7px 0 5px
}

.about-img img {
    width: 90%;
    margin-left: 11px
}

table.figCtn h2 strong {
    margin: 0 0 5px
}

.width100 {
    width: 100%
}

.lind {
    border-bottom: 1px solid #fff
}

.linex,
h3.titBxRt,
h5.titBxRt {
    border-bottom: 1px solid #8c644b!important
}

.hmClk h1 {
    margin: 0
}

.nav {
    width: 182px;
    margin-right: 0;
    font-size: 11px;
    margin-bottom: -1px
}

.nav,
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    z-index: 1000000000000;
    left: -101px;
    top: -1px
}

.mnTp>.nav>.sbLi>a {
    font-size: 12px;
    background: url(//test.baogiaothong.vn/images/menu-top-xem-danh-muc.gif) no-repeat;
    height: 23px;
    border: 0;
    color: #fff
}

.nav .sbLi {
    width: 100%
}

.sbLi {
    margin-top: -50000px
}

.sbA {
    margin-top: 50000px
}

.nav a {
    position: relative;
    width: 157px;
    margin-right: -181px;
    background: url(//test.baogiaothong.vn/images/menuDot.gif) 13px 10px no-repeat #aad862;
    border-bottom: #78b43d solid 1px;
    float: left;
    color: #000;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 16px;
    padding: 6px 0 5px 25px!important
}

.btnSearch,
.cpyRt,
.ftMn2,
.ftMn2Contnr,
.headTit,
.pgpge,
.titBxRt {
    text-align: center
}

.hdrRt {
    position: absolute;
    z-index: 999999;
    top: 0;
    background: #78b43d;
    width: 100%
}

.hdrRt .contnr {
    position: relative
}

.tpMnRt {
    position: absolute;
    top: 0;
    right: 0
}

.tpMnRt>ul {
    height: 56px;
    line-height: 56px;
    margin-right: 50px;
    float: left
}

.tpMnRt ul>li {
    vertical-align: middle;
    padding: 0 5px;
    float: initial;
    cursor: pointer;
    list-style: none
}

.tpMnRt ul li:hover .mnC2Hdr {
    display: block
}

.tpMnRt ul li a {
    font-size: 14px;
    line-height: 40px;
    color: #fff;
    vertical-align: middle;
    padding: 0 7px 0 0;
    white-space: nowrap
}

.headTit b,
.head_news b {
    vertical-align: top
}

.tpMnRt ul li a:hover {
    color: #fff
}

.mnC2Hdr {
    position: relative;
    z-index: 100000000;
    display: none
}

.menu-c2 {
    position: absolute;
    top: -1px;
    height: auto;
    width: 200px;
    left: -5px
}

.icoSch {
    float: left
}

.hsFedBck .frmctrl {
    border: 0;
    background: #fff;
    box-shadow: none;
    display: none;
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    left: -35px;
    margin-top: 8px;
    margin-bottom: 14px;
    padding-left: 5px;
    position: absolute
}

.hsFedBck a {
    position: absolute;
    right: 10px;
    top: 2px
}

.tpMnRt ul li:last-child a {
    border-right: 0;
    display: block;
    margin-top: 8px
}

.tpMnRt ul li:last-child a:hover {
    text-decoration: none
}

.ptImg,
.tit-list-top {
    position: relative;
    display: block;
    line-height: 0
}

.lineh,
.nsLstTit h2 {
    line-height: 1
}

.ptTit {
    font-size: 23px
}

.pick_top .sapo_news {
    font-size: 16px;
    color: #828282;
    margin-top: 6px
}

.sb-tpic {
    color: #828282;
    font-size: 15px
}

.ico-sprt {
    font-size: 23px;
    color: #ed1c24
}

.img-pick-top {
    position: absolute;
    bottom: 10px;
    left: 10px
}

.tit-icon img {
    position: absolute;
    bottom: 0;
    left: 0
}

.evtBxImg.evtBxLt.mrR20 .ptImg .w-unset span.tit-icon {
    position: absolute;
    left: 8px;
    bottom: 8px
}

.list_top_news li:last-child {
    margin-right: 0
}

.list_top_news li {
    width: 32.333%;
    float: left;
    margin-right: 1.5%
}

.list_top_news li a>img,
.pick_top {
    width: 100%
}

.box_nb li {
    border: 1px solid #cdcdcd;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.box_nb .pkg-body,
.pkg-body {
    border-radius: 0 0 7px 7px;
    background-color: #fff
}

.box-video,
.ftMn1Contnr,
.search-car {
    box-sizing: border-box
}

.pkg-body h3 {
    margin: 0
}

.pkg-body {
    padding: 5px 10px 5px 0
}

.box_nb .pkg-body {
    padding: 5px 10px
}

.tit-pkg {
    color: #c40101;
    font-size: 16px
}

.nsLstTit .clrTit,
.sp-pkg a {
    font-size: 17px
}

.pick_top {
    display: inline-block
}

.sp-pkg a {
    color: #000;
    font-weight: 600
}

.bx-video-body .list_top_news li a:hover,
.cmRt .list_top_news li a:hover,
.sp-pkg a:hover {
    color: #ed1c24
}

.Ltrt.mrR10 {
    width: 49%;
    float: left;
    clear: both;
    margin-bottom: 15px
}

.nsLstTit {
    height: 50px;
    margin-bottom: 5px
}

.titTcmXgt {
    margin-bottom: 0
}

.Ltrt.mrL10 {
    width: 49%;
    float: right
}

.bodyBxRt .pkg>a,
.cmLt,
.col,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.colLt,
.evtBxImg {
    float: left
}

.evtBxImg .playico img {
    width: 100%
}

.evtBxImg {
    width: 215px;
    margin-right: 12px
}

.datetime {
    margin: 5px 0
}

.datetime span {
    font-size: 13px;
    color: #828282;
    display: block
}

.sp,
h4 a.sp {
    font-size: 15px;
    font-weight: 600
}

.sp {
    color: #828282
}

h4 a.sp {
    color: #000
}

h4 a.sp:hover {
    color: #ed1c24
}

.nsLst .tpic .sb-tpic {
    font-size: 14px;
    color: #828282
}

.nsLst .tpic .ico-sprt {
    font-size: 14px
}

.box-cm {
    background-color: #fff
}

.box-cm header {
    background: 0 0;
    border-bottom: 1px solid #8c644b;
    height: 40px;
    line-height: 40px
}

.brc-head .head_news {
    padding: 0
}

.tlq {
    font-size: 24px;
    color: #ed1c24;
    font-weight: 700
}

.brc-head .head_news a,
.head_news span {
    font-size: 18px;
    color: #c40101;
    text-transform: inherit
}

.footerwidgettitle,
.headTit a,
.tit-bx-video span,
.titBxRt span {
    text-transform: uppercase
}

.box-cm.tinnendoc-wp .head_news span.active,
.reNsAveIn .head_news span.active {
    font-size: 24px
}

.brc-head .head_news a.active,
.head_news span.active {
    font-size: 18px
}

.head_news a,
.head_news span {
    font-size: 22px;
    color: #c40101;
    text-transform: uppercase
}

.head_news a.active,
.head_news span {
    font-weight: 800;
    font-size: 24px
}

.head_news b {
    color: #ed1c24;
    margin: 0 5px;
    font-size: 22px
}

.cm-body .evtBxImg {
    width: 280px;
    margin-right: 25px
}

.cm-body .evtBxImg a {
    line-height: 0;
    display: block
}

.box-video,
.cm-body article {
    display: inline-block;
    width: 100%
}

.tit a {
    font-size: 18px;
    font-weight: 700
}

div.tit {
    margin-top: -4px
}

.box-video,
.bx-video-body h2 {
    margin-top: 15px
}

.cm-body .evtBxRt {
    padding-right: 10px
}

.cm-body .tpic .sb-tpic {
    font-size: 14px;
    color: #828282
}

.cm-body .ico-sprt {
    font-size: 14px
}

.box-video {
    background: #8c644b
}

.tit-bx-video {
    padding: 4px 8px
}

.tpic.pdB10.clrF {
    padding: 0 10px
}

.footer_widget,
.footerwidgettitle {
    margin-bottom: 20px
}

.tit-bx-video span {
    font-size: 24px;
    font-weight: 700
}

.bx-video-body a {
    font-size: 23px
}

.bx-video-body .sapo_news {
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px
}

.bx-video-body .sb-tpic {
    color: #fff
}

.vjs-big-play-button {
    background: rgba(33,33,33,.8)!important
}

.bx-video-body .list_top_news li {
    width: 24%;
    float: left;
    margin-right: 1%;
    margin-bottom: 10px
}

.bx-video-body .list_top_news li a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3
}

.bx-video-body .list_top_news li a span img {
    position: absolute;
    top: 25%;
    left: 38%
}

.bx-video-body .pkg-body {
    background-color: inherit;
    padding: 5px 0 0
}

.bx-video-body .list_top_news {
    padding: 10px
}

.footer-widget {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    background: url(//test.baogiaothong.vn/images/vet-lop-xe.png) right no-repeat #8c644b;
    background-size: 18%
}

.col-md-3 {
    width: 25%
}

.footer_widget.widget_widget-about .footerwidgettitle {
    display: none
}

.footerwidgettitle {
    overflow: hidden;
    background: #333;
    color: #fff;
    display: inline-block;
    padding: 0 10px
}

.footer_widget .about-img {
    position: relative;
    display: inline-block
}

img {
    border: 0
}

.col-md-9 {
    width: 75%
}

.col-md-6 {
    width: 48%;
    padding-left: 1%
}

.footer-widget .bor-left {
    border-left: 1px solid #eee
}

.footer-wrap {
    margin-top: 10px
}

.footer-wrap p {
    margin: 0
}

.bodyBxRt .pkg,
.box-right {
    margin-top: 10px
}

.col-md-12 {
    width: 100%
}

.colLt {
    width: 698px
}

.bodyBxRt .pkg,
.search-car {
    width: 100%;
    display: inline-block
}

.box-right {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #cdcdcd
}

.titBxRt {
    border: 0
}

.titBxRt span {
    color: #ed1d24;
    font-size: 17px;
    font-weight: 600
}

.headTit a,
.headTit a.active,
.headTit b {
    color: #fff
}

h5.titBxRt {
    border-bottom: 1px solid #ddd
}

.bodyBxRt .pkg>a {
    margin-right: 10px
}

.bodyBxRt .pkg p {
    line-height: 1;
    margin: -5px 0 0
}

.headTit,
.search-car {
    margin-bottom: 10px
}

.bodyBxRt .pkg p a {
    font-size: 15px;
    font-weight: 700;
    line-height: 21px
}

.btnSearch a,
.lstSearch {
    line-height: 30px;
    border-radius: 3px
}

.search-car {
    padding: 10px;
    background: #8c644b;
    margin-top: 10px
}

.headTit a {
    padding: 0 10px;
    font-size: 17px
}

.headTit a.clrRed {
    color: #ed1d24
}

.btnSearch a,
.cmRt .list_top_news li a,
.lstSearch a {
    color: #000;
    font-size: 14px
}

.lstSearch {
    background-color: #fff;
    height: 30px;
    padding-left: 10px;
    position: relative
}

.lstSearch:before {
    content: "";
    position: absolute;
    background: url(//test.baogiaothong.vn/images/icon-up.png) no-repeat;
    right: 10px;
    top: 10px;
    width: 15px;
    height: 10px
}

.btnSearch a {
    display: inline-block;
    background-color: #fff;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px
}

.cmLt {
    width: 55%;
    margin-right: 1%
}

.cmLt h2 {
    line-height: 1
}

.cmRt {
    width: 44%;
    float: right
}

.cmRt .list_top_news li {
    border-radius: 0;
    box-shadow: initial;
    min-height: 168px;
    margin-bottom: 5px
}

.cmRt .list_top_news li:nth-child(odd) {
    width: 49%;
    float: left;
    margin-right: 1%;
    clear: both
}

.cmRt .list_top_news li:nth-child(even) {
    width: 49%;
    float: right;
    margin-left: 1%;
    margin-right: 0
}

.nsLst,
.pgpge {
    width: 100%
}

.cmRt .list_top_news li a span img {
    position: absolute;
    bottom: 0;
    left: 0
}

.cmRt .list_top_news li a {
    position: relative; 
    display: block;
    font-weight: 600
}

.ftMn2,
.ftMn2 a,
.ftMn2Contnr {
    font-weight: 700
}

.banrLt,
.banrRt {
    position: fixed;
    top: 55px
}

.cmRt .list_top_news li a>img {
    display: block
}

.btnTop .btnTpDt,
.btnTpHm,
.bxDoi,
.ftMn1 ul.grpIt li,
.nsLst,
.pgpge,
.pgpge ul,
.tinnendoc {
    display: inline-block
}

.cmRt .pkg-body {
    border-radius: 0;
    background-color: inherit;
    padding-left: 3px;
    padding-right: 1px
}

.cmLt .ptTit {
    font-size: 20px
}

.pgpge ul li {
    margin: 0;
    float: left
}

.pgpge .nxt,
.pgpge .prv {
    width: 28px;
    height: 28px;
    border: 1px solid #ddd;
    float: left;
    line-height: 35px
}

.pgpge ul li .span-dot,
.pgpge ul li a {
    float: left;
    border: 1px solid #ddd;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    box-sizing: border-box
}

.pgpge .nxt img,
.pgpge .prv img {
    width: 9px;
    height: 14px!important
}

.pgpge ul li .actv,
.pgpge ul li a:hover {
    background-color: #ed1c24;
    color: #fff
}

.tinnendoc {
    width: 100%;
    padding-top: 10px
}

.tinnendoc .list_top_news li {
    width: 32%
}

.tinnendoc .list_top_news li:nth-of-type(3n+1),
.tinnendoc .list_top_news li:nth-of-type(3n+3) {
    margin-right: 0
}

.tinnendoc .list_top_news li:nth-of-type(3n+2) {
    margin-right: 2%;
    margin-left: 2%
}

.tinnendoc-wp {
    border-radius: 5px
}

.bxDoi .flLt {
    width: 49%;
    float: left
}

.bxDoi .flRt {
    width: 49%;
    float: right
}

.bxDoi .box-cm {
    background-color: inherit
}

.bxDoi {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px
}

.banrRt {
    left: 110px
}

.banrLt {
    right: 110px
}

.bxDoi .bodyBxRt ul li a img {
    width: 145px
}

.tpseoblk {
    float: right
}

.head_news a.tpseoblk {
    text-transform: inherit;
    font-size: 16px;
    color: #757575
}

.head_news a.tpseoblk:hover {
    color: #ed1c24;
    text-decoration: none
}

.head_news a.txtNml {
    text-transform: inherit;
    font-size: 20px
}

.btnTop .btnTpDt,
.btnTpHm {
    background: #775540;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 8px;
    color: #fff;
    font-weight: 700
}

.colRt {
    float: left;
    width: 300px;
    margin-left: 6px
}

.footer-wrap,
.ftMn1Contnr {
    width: 100%;
    display: inline-block;
    color: #fff
}

.btnTpHm {
    margin-right: 5px;
    padding-left: 8px
}

.btnTop .btnTpDt {
    padding-left: 3px
}

.ftMn1 ul.grpIt li a b,
.ftMn1 ul.grpIt li ul li a {
    font-size: 11px
}

.btnTop a:hover {
    color: #fff
}

.btnTpDt img {
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -3px;
    margin-left: 3px
}

.footer-wrap .contnr {
    position: relative
}

.btnTop {
    position: absolute;
    right: 0;
    top: -5px
}

.ftMn1,
.ftMn1 a,
.ftMn2,
.ftMn2 a {
    color: #000
}

.ftMn1Contnr {
    background: #ebebeb;
    padding: 10px;
    border-top: #ddd solid 1px;
    margin-bottom: -3px
}

.ftMn1 {
    width: 1004px;
    margin: 0 auto
}

.ftMn1 ul.grpIt {
    margin: 0;
    padding: 0
}

.ftMn1 ul.grpIt li {
    list-style: none;
    width: 106px;
    padding: 0 5px 0 0;
    vertical-align: top;
    float: left;
    line-height: 20px
}

.ftMn1 ul.grpIt li ul li {
    line-height: 20px;
    padding: 0
}

.ftMn1 ul.grpIt li a:hover {
    text-decoration: underline
}

.ftMn2Contnr {
    background: #78b43d;
    padding: 5px 30px;
    color: #000
}

.ftMn2 a {
    margin: 0 15px
}

.cpyRt {
    width: 998px;
    margin: 0 auto;
    font-size: 12px;
    color: #7d7d7d;
    padding: 10px 0 0
}

h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    border: none
}

.sticky_main {
    background: #8c644b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    height: 50px;
    margin: 0 auto 5px
}

.tit-icon-nb,
.tit-list-top .tit-icon {
    position: absolute;
    top: 92%
}

.evtBxImg.evtBxLt.mrR15 .tit-icon {
    position: absolute;
    bottom: 7px
}

.tit-icon-nb-cm {
    position: absolute;
    bottom: 10%
}

.box-cm.tinnendoc-wp .list_top_news.clr div.pkg span.tit-icon,
li.pkg .mrR10.ptImg .w-unset .tit-icon {
    position: absolute;
    bottom: 4%
}

.list_top_news.box_nb .pkg-body {
    min-height: 121px
}

.tit-couple {
    min-height: 75px
}

.w-unset img {
    width: 30px!important
}

.icotpc.tpseoblk a,
.icotpc.tpseoblk span,
span.icotpc.tpseoblk {
    font-size: 12px!important;
    font-weight: 500!important
}

.bx-video-body a:hover {
    color: #fff!important
}

.dsp-content {
    display: contents
}

.tit-icon {
    position: absolute;
    top: 57%;
    width: 30px;
    left: 2%
}

.tit-list-top .tit-icon {
    width: 30px;
    left: 3%
}

.tit-icon img {
    width: 100%
}

.tit-icon-nb {
    width: 30px;
    left: 1%
}

.tit-icon-nb img {
    width: 100%
}

.tpic .sb-tpic.clrGre {
    font-size: 15px
}

.tinnendoc.pdT10 .list_top_news.clr li {
    margin-bottom: 10px
}

#vd .box-right {
    margin-top: 0
}

#vd .box-cm.module1.box-video-newest {
    margin-bottom: 15px
}

.read_more_cm {
    display: inline-block;
    padding: 1px 2px;
    background: #9C0707;
    font-size: 12px;
    color: #fff;
    line-height: 7px;
    height: 9px
}

.btn-social-fanpage .fb_iframe_widget span {
    width: 78px!important
}

.btn-social-fb .fb-like span {
    width: 66px!important
}

.btn-social-fb .fb-share-button span {
    width: 75px!important
}

.icoSocial-dt {
    margin-top: 10px;
    margin-bottom: 5px
}

.icoSocial-dt .icoSocialCm {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 5px
}

.content-body figure.image img,
.icoSocial-dt a img {
    width: 100%
}

.content-xe .icoSocial-dt {
    float: right;
    margin-top: 5px
}

.most-lasted {
    margin-top: 0
}

.content-body figure {
    margin: 0
}

.evtBox.evtBoxPrBt .evtBoxImg span.tit-icon {
    left: 42%
}

.bx-video-body>img {
    height: 392px!important;
    object-fit: cover
}

.reNsAve article.evtBox.pdT10.ltLt .evtBoxImg span.w-unset span.tit-icon {
    left: 5px;
    bottom: 5px
}

.box-cm.tinnendoc-wp .list_top_news span.sp-pkg {
    min-height: 70px;
    display: block
}

.box-nb-tc .tit-icon {
    position: absolute;
    bottom: 3%;
    width: 30px;
    left: 2%
}

/* START: longqv - 2/11/2018 tag: box_relate_event */
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    width: 600px;
    height: 400px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999
}

.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, .85);
    opacity: .66
}

.jcarousel-wrapper .photo-credits a {
    color: #fff
}

.jcarousel {
    position: relative
}

.jcarousel ul {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0
}

.jcarousel li {
    float: left
}

.jcarousel-control-next,
.jcarousel-control-prev {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999
}

.jcarousel-control-prev {
    left: -50px
}

.jcarousel-control-next {
    right: -50px
}

.jcarousel-control-next:hover span,
.jcarousel-control-prev:hover span {
    display: block
}

.jcarousel-control-next.inactive,
.jcarousel-control-prev.inactive {
    opacity: .5;
    cursor: default
}

.jcarousel-pagination {
    margin: 0 auto
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    opacity: .75
}

.jcarousel-pagination a.active,
.jcarousel-pagination a:hover {
    background: #8c644b!important;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .75)
}

.li_jcarousel {
    float: left;
    width: 278px!important
}

.jcarousel-control-next,
.jcarousel-control-prev {
    display: none
}

.jcarousel-pagination a {
    background: #e1e1e1;
    margin-right: 5px
}
/* END: longqv - 2/11/2018 tag: box_relate_event */
/* BEGIN Vudl them_dcma 24_4_2019 */
.mgL10{
    margin-left: 10px;
}
/* END Vudl them_dcma 24_4_2019 */
.content-body p{
    text-align: justify;
}
/* BEGIN Vudl slide_menu_xegt 10_01_2020 */
.slideMenu {
    display: none;
    position: absolute;
    top: 29px;
    background-color: #996633;
    width: 145px;
    left: -103px;
}
.slideMenu a {
    display: block;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 35px;
}
.slideMenu a:last-child {
    border-bottom: 0;
}
.slideMenu a:hover {
    background-color: #8c644b;
}
.icoMenu {
    width: 17px;
    height: 29px;
    background: url("//test.baogiaothong.vn/images/ico_slide_menu_xegt.png") no-repeat;
    position: absolute;
    top: 50%;
    left: -35px;
    margin-top: -7px;
    cursor: pointer;
}
.icoMenu:hover .slideMenu {
    display: block;
}
/* BEGIN Vudl slide_menu_xegt 10_01_2020 */